<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FADA00091EDB2888008FF2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADAFFE71EDB2887008FF2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADAFFFE1EDB2888008FF2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
